
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="ab-w3l-about">
    <div class="container">
        <h3 class="tittle-w3"><span>Welcome to Our</span> x Food</h3>
        <p class="para-w3l">Lorem Ipsum is simply dummy text of the printing and typesetting industry. ever since the 1500s.Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores hasellusMaecenas ac hendrerit purus. Lorem ipsum dolor sit amet.Lorem Ipsum is simply dummy text of the printing and typesetting industry
        <p><a class="read" href="single.html">Read More</a></p>
    </div>
</div>
<div class="about" id="about">
    <div class="col-md-6 ab-w3-agile-info">
        <div class="ab-w3-agile-info-text">
            <h3 class="tittle-w3">About<span> Us</span></h3>
            <p class="para-w3l">Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit.Lorem ipsum dolor sit amet.when an unknown printer took a galley of type and scrambled it twelcomo make a type specimen book.Proin ultricies vestibulum velit.Lorem ipsum dolor sit amet.when an unknown printer took  Proin ultricies vestibulum velit.Lorem ipsum dolor sit amet</p>
            <div class="about-read">
                <a href="single.html">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 ab-w3-agile-img">

    </div>

    <div class="clearfix"></div>
</div>
<!--blogs-->
<div class="agile-blogs" id="blogs">
    <div class="container">
        <h3 class="tittle-w3"><span>Popular </span>Recipes</h3>
        <div class="g1 agile-blog1">
            <a href="#"><img src="~/web/images/bl1.jpg" alt="blog1"></a>
            <div class="text-w3">
                <h3 class="tittle-w3 sub-head"><span>Roasted Heritage Carrot</span></h3>
                <p class="para-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.Ut enim ad minim veniam.</p>

                <a class="read b1" href="single.html">Read More</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="g2 agile-blog2">
            <a href="#"><img src="~/web/images/bl2.jpg" alt="blog1"></a>
            <div class="text-w3l">
                <h3 class="tittle-w3 sub-head"><span>Fritto Misto</span></h3>
                <p class="para-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.Ut enim ad minim veniam.</p>
                <a class="read b2" href="single.html">Read More</a>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//blogs-->
<!--count-->
<div class="count-agileits">
    <div id="particles-js"></div>

    <div class="count-grids">
        <h3 class="tittle-w3">Handling <span>your needs</span> with care</h3>
        <div class="count-bgcolor-w3ls">
            <div class="col-md-4 count-grid">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
                <div class="count hvr-bounce-to-bottom">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1052' data-delay='.5' data-increment="100">1052</div>
                    <span></span>
                    <h5>Products available</h5>
                </div>
            </div>
            <div class="col-md-4 count-grid">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="count hvr-bounce-to-bottom">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='372' data-delay='.5' data-increment="100">372</div>
                    <span></span>
                    <h5>Clients come back</h5>
                </div>
            </div>
            <div class="col-md-4 count-grid">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <div class="count hvr-bounce-to-bottom">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='105209' data-delay='.5' data-increment="100">105209</div>
                    <span></span>
                    <h5>Site members</h5>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>