<div class="banner inner-bg-w3" id="home">
    <!-- header -->
    <div class="banner-top">
        <div class="social-bnr-agileits">
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="contact-bnr-w3-agile">
            <ul>
                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">SIGN IN</a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>SIGN UP</li>
                <!--<li>-->
                    @*<div class="search">
                        <input class="search_box" type="checkbox" id="search_box">
                        <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
                        <div class="search_form">
                            <form action="#" method="post">
                                <input type="search" name="Search" placeholder="Search..." required="" />
                                <input type="submit" value="Send" />
                            </form>
                        </div>
                    </div>*@
                <!--</li>-->
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <header>
        <div class="container">

            <!-- navigation -->
            <div class="w3_navigation">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="w3_navigation_pos">
                            <h1><a href="index.html"><span></span> <span>R</span>estory</a></h1>
                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav class="menu menu--miranda">
                            <ul class="nav navbar-nav menu__list">
                                <li class="menu__item menu__item--current"><a href="/Default/Index/" class="menu__link">Home</a></li>
                                <li class="menu__item"><a href="about.html" class=" menu__link">About</a></li>
                                <li class="menu__item"><a href="/Gallery/Index/" class=" menu__link">Gallery</a></li>
                                <li class="menu__item"><a href="gallery.html" class=" menu__link">Booking</a></li>
                                <li class="dropdown menu__item">
                                    <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="codes.html">QR Code</a></li>
                                        <li><a href="icons.html">PDF</a></li>
                                    </ul>
                                </li>
                                <li class="menu__item"><a href="/Contact/Index/" class=" menu__link">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </nav>
            </div>
            <div class="clearfix"></div>
            <!-- //navigation -->
        </div>
    </header>
    <!-- //header -->
</div>