
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<div class="banner-text">    
    <div class="book-form">
        <p>Reserve a table.</p>
        <form action="#" method="post">
            <div class="col-md-3 form-time-w3layouts">
                <label><i class="fa fa-clock-o" aria-hidden="true"></i> Name & Surname:</label>
                <input type="text">
            </div>
            <div class="col-md-3 form-time-w3layouts">
                <label><i class="fa fa-clock-o" aria-hidden="true"></i> Mail:</label>
                <input type="text">
            </div>
            <div class="col-md-3 form-time-w3layouts">
                <label><i class="fa fa-clock-o" aria-hidden="true"></i> Time:</label>
                <input type="time">
            </div>          
            <div class="col-md-3 form-date-w3-agileits">
                <label><i class="fa fa-calendar" aria-hidden="true"></i> Date:</label>
                <input id="datepicker1" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
            </div>
            <div class="col-md-3 form-left-agileits-w3layouts ">
                <label><i class="fa fa-users" aria-hidden="true"></i>Number of People:</label>
                <select class="form-control">
                    <option></option>
                    <option>1 Person</option>
                    <option>2 People</option>
                    <option>3 People</option>
                    <option>4 People</option>
                    <option>5 People</option>
                    <option>More</option>
                </select>
            </div>
            <div class="col-md-3 form-left-agileits-submit">
                <input type="submit" value="Book a table">
            </div>
        </form>
    </div>
</div>


