
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("~/Views/Default/HeaderPartial.cshtml")
<body>
    <!-- banner -->
    @await Html.PartialAsync("~/Views/Default/NavbarPartial.cshtml")
    @RenderBody()

    <div class="copyright-wthree">
        <p>&copy; @DateTime.Now.Year Restory Restaurant . All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts </a></p>
    </div>
    <!-- //Footer -->

    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    @await Html.PartialAsync("~/Views/Default/ScriptPartial.cshtml")
    <!-- script-for-menu -->
</body>
</html>
